.c-card {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: $white;
  text-align: center;
  color: $light-black;
  min-width: 15.625rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  border: 1px solid $gray-light;
  border-radius: 0.3125rem;
  position: relative;

  &__content {
    margin-left: 0.6rem;
    text-align: left;

    &__title {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 400;
    }

    &__description {
      font-size: 1rem;
      line-height: 1.5rem;      
      font-weight: 100;
    }

    &__options {
      display: flex;
      margin-top: 0.9em;
      justify-content: center;
      align-items: center;

      &__favourites {
        margin-left: 1em;
        cursor: pointer;
      }
    }
  }

  &__delete {
    position: absolute;
    top: 3%;
    left: 93%;
    cursor: pointer;
  }
}