.c-delete {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        width: 400px;
        background-color: $white;
        padding: 25px 20px 0 20px;
        position: relative;

        &__title {
            color: $blue;
            text-align: center;
            font-size: $basefontsize + 4px;
            margin-bottom: 1em;
        }

        &__text {
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
            font-size: $basefontsize - 2px;
        }

        &__buttons {
            display: flex;
            margin-top: 2em;

            &__cancel {
                border: none;
                background-color: $dark-gray;
                color: $white;
                width: 50%;
                padding: 13px 20px;
            }

            &__delete {
                border: none;
                background-color: $blue;
                color: $white;
                width: 50%;
                padding: 13px 20px;
            }
        }
    }
}