.c-sidebar {
  width: 33%;
  background-color: $body-bg;
  text-align: center;
  min-height: 80px;

  &__title {
    margin-top: 1.25rem;    
  }

  &__search {
    padding: 1.25rem 0;

    input {
      font-family: $font-family;
      font-size: 0.75rem;
      font-weight: 400;
      height: 1.25rem;
      min-width: 15rem;
      padding: 0.5rem;
      border: 1px solid $gray-light;
      border-radius: 0.3125rem; 
    }
  }

  @media (max-width: $br-small-max) {
    flex: 1;
    width: 100%;
  }    
}